body {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #434455;
  size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

ul,
ol {
  list-style-type: none;
}
a {
  color: #434455;
  font-style: normal;
}
header {
  /* Top Line */

  position: absolute;

  left: 0px;
  top: 0px;
  width: 1440px;
  height: 72px;
  border: 1px;
  border-bottom: #e7e9fc;
  background-color: #ffffff;
}
.div-header {
  /* Top Line */

  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
}

.menu-logo {
  /* Logo */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  position: absolute;
  width: 115px; /*130px*/
  height: 24px; /*24px*/
  left: 156px;
  /*top: 18px;*/
}
.a-logo {
  text-decoration: none;
  float: inline-start;
  width: 120px;
  height: 21px;
}
span.logo-web {
  /* Web */

  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */
  color: #4d5ae5;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
span.logo-stud {
  /* Studio */

  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: inline-block;
  align-items: last center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
span.logo-stud:hover {
  color: #404bbf;
}
span.logo-stud:active {
  color: #404bbf;
}
.menu-nav {
  /* Menu Nav */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px; /*24px*/
}
.menu-nav ul {
  display: contents;
}

.menu-nav li {
  /* Studio */
  /* Portfolio */
  /* Contacts */

  height: 24px;
  display: inline-block;
  /* Body Medium */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

nav li.menu-studio {
  width: 48px;
}
nav li.menu-portfolio {
  width: 66px;
}
nav li.menu-contacts {
  width: 67px;
}
.link-studio {
  text-decoration: none;
  color: #2e2f42;
}
.link-portfolio {
  text-decoration: none;
  color: #2e2f42;
}
.link-contacts {
  text-decoration: none;
  color: #2e2f42;
}
.address {
  display: flex;
}
.email {
  /* info@devstudio.com */
  font-weight: 400;
  position: absolute;
  width: 153px;
  height: 24px;
  left: 940px;
  top: 24px;

  text-decoration: none;
}
.email:hover {
  color: #404bbf;
}
.tel {
  /* +11 (000) 111-11-11 */
  font-weight: 400;
  position: absolute;
  width: 151px;
  height: 24px;
  left: 1133px;
  top: 24px;

  text-decoration: none;
}
.tel:hover {
  color: #404bbf;
}
.hero-img-section {
  /* hero image */

  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 72px;

  background-color: #2e2f42;
}
h1 {
  /* Effective Solutions for Your Business */

  position: absolute;
  width: 496px;
  height: 120px;
  left: 472px;
  top: 120px;

  /* Header 1 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */
  color: #ffffff;
}
.btn-order-service {
  /* Button */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;

  position: absolute;
  width: 169px;
  height: 56px;
  left: 636px;
  top: 320px;

  /* IRIS */
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
  color: #ffffff;
}
.btn-order-service:hover {
  background-color: #404bbf;
}
.section1 {
  /* Section 1 */

  position: absolute;
  width: 1128px;
  height: 104px;
  left: 156px;
  top: 792px;
}
.section1 ul {
  display: flex;
}
.sec1-col {
  /* Feature 1 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px 0px 10px;
  gap: 8px;
}
.sec1-title {
  margin: 0px;
  /* Strategy */
  font-weight: 500;
  letter-spacing: 2%;
  width: 264px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sec1-text {
  /* Our goal is to identify the business problem to walk away with the perfect and creative solution. */
  font-weight: 400;
  letter-spacing: 2%;
  width: 264px;
  height: 72px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.section2 {
  /* Section 2 */

  position: absolute;
  width: 1440px;
  height: 732px;
  left: 0px;
  top: 1016px;
  background-color: #f4f4fd;
}
.section2 h2 {
  /* Our Team */

  position: absolute;
  width: 162px;
  height: 40px;
  left: 639px;
  top: 100px;

  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
}
.section2 ul {
  /* Team Card 1 */
  /* Team Card 2 */
  /* Team Card 3 */
  /* Team Card 4 */
  margin: 0px 0px 0px 0px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 32px;
  gap: 32px;

  position: absolute;
  width: 1350px;
  height: 480px;
  left: 20px;
  top: 200px;

  background: #f4f4fd;
}

.section2 li .div-team-card-1 {
  left: 156px;
  height: 360px;
  width: 264px;
  /* WHITE

team card background
*/
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.section2 li .div-team-card-1:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}

.section2 li .div-team-card-2 {
  left: 444px;
  height: 360px;
  width: 264px;
  /* WHITE

 team card background
*/
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section2 li .div-team-card-2:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.section2 li .div-team-card-3 {
  left: 732px;
  height: 360px;
  width: 264px;
  /* WHITE

  team card background
*/
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.section2 li .div-team-card-3:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.section2 li .div-team-card-4 {
  left: 1020px;
  height: 360px;
  width: 264px;
  /* WHITE

 team card background
*/
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  /* Inside auto layout */
}
.section2 li .div-team-card-4:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
}
.card-content {
  /* Card Content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 232px;
  height: 56px;
}
.div-team-card-4 .card-content {
  /* Card Content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: last baseline;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 232px;
  height: 56px;
}
.card-content .name {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
  width: 150px;
  height: 24px;

  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.02em;
}
.card-content .job {
  /* Frontend Developer */
  margin-top: 0;
  margin-bottom: 0;

  width: 144px;
  height: 24px;

  /* Body */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
#imgDaniel {
  position: relative;
  left: 16px;
}
.section3 {
  /* Section 3 */

  position: absolute;
  width: 1128px;
  height: 1000px;
  left: 156px;
  top: 1868px;
}
.section3 h2 {
  /* Our Portfolio */

  position: absolute;
  width: 268px;
  height: 40px;
  left: 611px;

  /* Header 2 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section3 .sec3-row1 {
  /* Row 1 */

  position: relative;
  width: 1128px;
  height: 420px;
  left: calc(50% - 1128px / 2);
  top: 80px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 20px;
}

.section3 .sec3-row2 {
  /* Row 2 */

  position: relative;
  width: 1128px;
  height: 420px;
  left: calc(50% - 1128px / 2);
  top: 120px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  gap: 20px;
}
.project-card {
  position: relative;
  width: 100%;
  max-width: 360px;
}
.project-card .image-portfolio {
  /* Project Card 1 */

  display: block;
  width: 100%;
  height: auto;

  /* WHITE
  
  Header background, team card background
  */
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.project-card:hover .overlay {
  /* hover project card */

  opacity: 1;
}
.text {
/* 14 Stylish and User-Friendly App Design Concepts 路 Task Manager App 路 Calorie Tracker App 路 Exotic Fruit Ecommerce App 路 Cloud Storage App */

position: absolute;
width: 296px;
height: 96px;
left: 32px;
top: 40px;

/* Body */
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.02em;

/* CLOUD */
color: #F4F4FD;


}

.port-card-content {
  /* Card Content */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 16px;
  gap: 8px;

  width: 360px;
  height: 120px;

  /* CORNFLOWER */
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #e7e9fc;
}

.project-card:hover .port-card-content {


/* WHITE

Header background, team card background
*/
background: #FFFFFF;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);


}
.port-card-content h3 {
  /* Banking App */

  width: 200px;
  height: 24px;

  /* Header 3 */

  font-size: 20px;

  /* identical to box height, or 120% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.port-card-content h6 {
  /* App */
  margin: -20px 0px 0px 0px;
  width: 30px;
  height: 24px;

  /* Body */

  font-weight: 400;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer {
  /* Footer */

  position: absolute;
  width: 1440px;
  height: 312px;
  left: 0px;
  top: 2988px;

  /* Dark-bg */

  /* NAVY BLUE */
  background: #2e2f42;
}
.div-footer {
  /* Text */

  position: relative;
  width: 264px;
  height: 112px;
  left: 156px;
  top: 100px;
}
.footer-logo .a-logo {
  /* Logo */
  text-decoration: none;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;

  position: relative;
  width: 115px;
  height: 24px;
  left: 0px;
  top: 0px;
}
.footer-logo .a-logo .logo-web {
  /* Web */

  width: 44px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* IRIS */
  color: #4d5ae5;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.footer-logo .a-logo .logo-stud {
  /* Studio */

  width: 71px;
  height: 21px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* CLOUD */
  color: #f4f4fd;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.footer-text {
  /* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */

  /* Body */

  font-style: normal;
  font-weight: 400;

  /* or 150% */
  letter-spacing: 0.02em;

  /* CLOUD */
  color: #f4f4fd;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* <uniquifier>: Use a unique and descriptive class name */

.raleway-logo {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
